.card-outer {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 500px;
    width: 400px;
    /*box-shadow: 2px 2px 4px #888888;*/
    border-radius: 5px;
    background-color: #1E1E1E;
}

.all-tile-container {
    width: 100%;
    padding-top: 15px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}