.card-outer {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 500px;
    width: 400px;
    /*box-shadow: 2px 2px 4px #888888;*/
    border-radius: 15px;
    background-color: #1E1E1E;
    overflow-y: auto;
    padding: 15px 0px;
}

.non-drag-container {
    width: 100%;
    display: flex;
    justify-content: center;
}