.modal-container {
    /* Makes the background behind the modal content darker */
    background-color: rgba(0,0,0,0.25);
    position: fixed;
    /* Force the modal to start at the top left, so that it doesn't appear wherever was clicked */
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    /* z-index:1 makes the modal in front of all other content */
    z-index: 1;
    color: white;
}

.modal-content {
    background-color: #4e4e4e;
    position: absolute;
    /* Center the modal content */
    top: 20%;
    left: 30%;

    width: 40%;
    padding: 20px;
    border-radius: 15px;
}

.close-btn {
    float: right;
    top: 0px;
}

.close-btn:hover {
    cursor: pointer;
}

.title {
    text-align: center;
}

.label-input {
    margin: 30px 20px;
}

.textbox {
    float: right;
    width: 60%;
    padding: 10px;
    background-color: #cecece;
    color: black;
    border: none;
    outline: none;
    border-radius: 10px;
}

.dropdown {
    float: right;
    width: 60%;
    padding: 10px;
    background-color: #cecece;
    border-radius: 10px;
    outline: none;
}

.error-msg-container {
    text-align: center;
    color: red;
}

.add-btn-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.add-btn {
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.add-btn:hover {
    cursor: pointer;
}