* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  width: 100%;
}

.App {
  height: 200vh;
  overflow-x: hidden;
}

.home-title-container {
  color: white;
  text-align: center;
  margin: 30px;
}

.home-title {
  font-size: 48px;
}

.home-desc {
  font-size: 24px;
}

.card-holder {
  display: flex;
  justify-content: space-between;
  height: 105vh;
  margin: 0 auto;
  padding: 30px;
  overflow-x: scroll;
  background-color: hsl(0, 0%, 19%);
}

.card-text {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.add-popup {
  margin-left: 20px;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  font-size: 24px;
}

.add-popup:hover {
  cursor: pointer;
}

#card {
  margin: 10px;
}